.results {
  display: none;
}
#action_ids {
  height: 300px;
}
#checks_to_run {
  height: 300px;
}
#results-key {
  float: right;
}
#modal-container {
    position: absolute;
    background: rgba(1, 1, 1, 0.6);
}
#fp-form {
    display: none;
}
