<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <title>Bloomberg MA Logic Checker</title>
  </head>
  <body>
    <div class="navbar">
      <span class="navbar-brand"><a href="/">Bloomberg MA Logic Checker</a></span>
      <ul class="nav navbar-nav">
        <li><a href="/">Verify</a></li>
        {% if current_user.is_authenticated %}
        <li><a href="/logic/new">Register Logic</a></li>
        {% endif %}
        <li><a href="/logics">View Logics</a></li>
        <li><a href="/help">Help</a></li>
        {% if current_user.is_authenticated %}
        <li><a href="#">Hello, {{ current_user.email }}!</a></li>
        <li><a href="/logout">Logout</a></li>
        {% else %}
        <li><a href="/login">Login</a></li>
        {% endif %}
      </ul>
    </div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="container flashes">
        {% for message in messages %}
        <div class='alert alert-warning'>{{ message }}</div>
        {% endfor %}
      </div>
      {% endif %}
    {% endwith %}
    <div id="main" class="container-fluid">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
