{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
  <h1 class="text-center">Questions? Comments?</h1>
  <p class="text-center">Please direct all confusion and anger at <a href="mailto:jgoritski@bloomberg.net">jgoritski@bloomberg.net</a></p>
  <p class="text-center">Everything is a process.</p>
</div>
{% endblock %}
