{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-md-4">
    <form id="inputs">
      {{ form.csrf_token }}
      <div class="form-group">
        {{ form.action_ids.label }}
        {{ form.action_ids(class="form-control", placeholder="Enter Action IDs here, one per line.") }}
        <br>
        {{ form.checks_to_run.label }}
        {{ form.checks_to_run(class="form-control") }}
        <br>
        <button type="submit" id="action-submit" class="btn btn-primary">Check 'em</button>
      </div>
    </form>
  </div>
  <div class="col-md-8">
    <div class="results" id="results-target"></div>
    <div class="results" id="results-key">
      <table class="table">
        <tr><th>Key:</th></tr>
        <tr><td class="success">Passed the check!</td></tr>
        <tr><td class="danger">Failed the check...</td></tr>
        <tr><td class="warning">Failed the check, but has been marked as OK.</td></tr>
      </table>
    </div>
  </div>
</div>


<form id="fp-form">
    {{ fpform.csrf_token }}
    {{ fpform.action_id.label }}{{ fpform.action_id(class="form-control") }}
    {{ fpform.logic_id.label }}{{ fpform.logic_id(class="form-control") }}
    {{ fpform.notes.label }}{{ fpform.notes(class="form-control") }}
</form>


<!-- scripts and styles below -->
<script src="{{ url_for('static', filename='js/results.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
