{% extends 'base.html' %}
{% block content %}
<h2>All Registered Logic Checks</h2>
{% if all_checks %}
<table class="table">
  <tr><th>Name</th><th>ID</th><th>Message</th><th>Function</th><th>Depends</th><th>Implemented?</th></tr>
{% for logic in all_checks %}
<tr>
  <td>{{logic.name}}</td>
  <td>{{logic.id}}</td>
  <td>{{logic.error_message}}</td>
  <td>{{logic.function_name}}</td>
  <td>{{logic.field_dependencies}}</td>
  <td>{{logic.implemented}}</td>
  {% if current_user.is_authenticated %}
  <td><a href="/logic/{{logic.id}}/delete"
         class="btn btn-xs btn-danger"
         onclick="return confirm('Are you sure you want to delete {{logic.name}}?');">[delete]</a></td>
  {% endif %}
</tr>
<tr><td colspan="7"><pre><code class="python">
{% for line in logic.function_body %}{{ line }}{% endfor %}
</pre></code></td></tr>
{% endfor %}
</table>
{% else %}
<div class="jumbotron"><p class="text-center">No checks registered yet :(</p></div>
{% endif %}

<a href="/logic/new" class="btn btn-default">Register a new logic check</a>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
