{% extends 'base.html' %}
{% block content %}
{% if error %}
<p class="error btn btn-danger">{{ error }}</p>
{% endif %}
<h2>Register a Logic Function</h2>
<form method="POST" action="/logic/new">
  {{ form.csrf_token }}
  <div class="form-group">
    {{ form.name.label }}{{ form.name(size=20, class="form-control", placeholder="Name of the logic function. Optional, will be infered from function if blank.") }}
  </div>
  <div class="form-group">
    {{ form.error_message.label }}{{ form.error_message(class="form-control", placeholder="Error message related to check.") }}
  </div>
  <div class="form-group" id="editor">
    {{ form.code_body.label }}{{ form.code_body(class="hidden") }}
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>

<h2>Fields</h2>
<table class="table">
  <tr><th>Field Code</th><th>Value</th></tr>
  {% for code, val in field_dict.iteritems() %}
  <tr class="field-code-row"><td class="field-code">{{ code }}</td><td>{{ val }}</td></tr>
  {% endfor %}
</table>

<script src="{{ url_for('static', filename='js/codemirror.js') }}"></script>
<script src="{{ url_for('static', filename='js/python.js') }}"></script>
<script src="{{ url_for('static', filename='js/new_logic.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror.css') }}">
{% endblock %}
